* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content {
  background-color: #f7f5f2;
}

html {
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #2E8B57;
  border-radius: 10px;
}

html::-webkit-scrollbar {
  width: 10px;
}

/* Navbar Start */
#navbar {
  background-color: #CCFF99;
}

/* Navbar Image Logo */
#logo img {
  border-radius: 10px;
  width: 250px;
  margin-left: 10px;
}

/* Hamburger Icon */

.navbar-toggler {
  margin-right: 2.5rem;
  filter: invert(1);
  height: 64px;
  width: 64px;
}

.navbar-nav {
  margin-left: 0;
}

.nav-item .nav-link {
  color: black;
  margin-left: 12px;
  font-weight: bold;
  transition: 0.5s;
  font-size: 1.25rem;
}

#navbar .navbar-nav .nav-item .nav-link.active {
  color: black !important;
  text-decoration: underline;
  text-underline-offset: 10px;
  font-weight: 800;
  background-color: transparent;
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Media Query for Hamburger Menu Start */
@media (max-width: 1200px) {
  #logo img {
    border-radius: 10px;
    max-width: 250px;
    width: 100%;
    margin-left: 20px;
  }

  #navbarSupportedContent {
    max-height: 300px;
  }

  .navbar-nav {
    margin-left: 0;
  }

  .navbar-collapse .navbar-nav {
    width: 100%;
  }

  .navbar-collapse .nav-item {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .navbar-collapse .nav-item .nav-link {
    font-size: 1.6rem;
    padding: 8px 5px;
    display: inline-block;
    border-radius: 5px;
    color: black;
  }

  .navbar-collapse .nav-item .nav-link:hover {
    background-color: #ffffff;
    color: black;
  }

  .container-fluid {
    padding: 0px;
  }
}

@media (max-width: 576px) {
  #logo img {
    border-radius: 10px;
    width: 220px;
    margin-left: 20px;
  }
}

/* Media Query for Hamburger Menu End */

.nav-item .nav-link:hover {
  background-color: #f7f5f2;
  border-radius: 5px;
  color: black;
}

.heart-trigger {
  padding: 5px;
}

/* Navbar End */

/* Home Section Start */
#home {
  width: 100%;
  min-height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(./images/strawberry_background_art_12_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 28%;
}

#home .sub-content {
  padding-top: 210px;
  margin-left: 56px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#home .sub-content h3 {
  font-size: 5.6rem;
  color: white;
}

#home .sub-content p {
  margin-top: 35px;
  color: white;
  font-size: 1.125rem;
  line-height: 1.6;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
    0 0 5px rgba(0, 0, 0, 0.5);
}

#shop-now-btn {
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: white;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
  border: 1px solid black;
  margin-top: 5.5rem;
  width: 275px;
  height: 80px;
  font-size: 1.4rem;
}

#shop-now-btn:hover {
  background-color: #ee4646;
  color: white;
}

/* Media Query for Home Start */

@media (max-width: 1400px) {
  #home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  #home .sub-content h3 {
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 10px;
  }

  #home .sub-content p {
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #home .sub-content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 0;
  }

  #shop-now-btn,
  #learn-more-btn,
  #send-message-btn {
    margin-top: 2.5rem;
    width: 400px;
    height: 80px;
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  #home .sub-content h3 {
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 10px;
  }

  #home .sub-content p {
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  #home .sub-content h3 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 10px;
  }

  #home .sub-content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  #home .sub-content h3 {
    font-size: 2.5rem;
  }

  #home .sub-content p {
    font-size: 1rem;
  }
}

/* Media Query for Home End */

/* Home Section End */

/* About Section Start */
#about {
  width: 100%;
}

#about .container {
  margin-top: 70px;
  padding-bottom: 25px;
  border: 1px solid black;
}

#about .card img {
  border-radius: 10px;
}

#about p {
  font-size: 1.2rem;
  padding-top: 1rem;
}

#learn-more-btn {
  width: 100%;
  max-width: 300px;
  margin-top: 2em;
  height: 50px;
  background: transparent;
  border: 2px solid #ee4646;
  border-radius: 5px;
  color: #ee4646;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

#learn-more-btn:hover {
  background-color: #ee4646;
  color: white;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  color: black;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-top: 2rem;
}

.heading span {
  color: #ee4646;
}

/* Media Queries for About Start */
@media (max-width: 992px) {
  #about p {
    font-size: 1.125rem;
  }

  .shop-now-btn-container {
    margin-top: 3rem;
  }

  #shop-now-btn,
  #learn-more-btn,
  #send-message-btn {
    width: 225px;
    height: 100px;
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  #about {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  #about p {
    font-size: 1.05rem;
  }

  .about-subheading {
    margin-top: 25px;
  }

  #shop-now-btn,
  #learn-more-btn,
  #send-message-btn {
    width: 170px;
    height: 65px;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  #about {
    min-height: auto;
  }

  #about p {
    font-size: 1rem;
  }

  #about .container .heading {
    font-size: 2.2rem;
    margin-top: 30px;
  }

  #shop-now-btn,
  #learn-more-btn,
  #send-message-btn {
    width: 115px;
    height: 70px;
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  #about {
    min-height: auto;
  }
}

/* Media Queries for About End */

/* About Section End */

/* Top Cards Section Start */
#top-cards {
  width: 100%;
  background-color: #f7f5f2;
  padding: 9rem 0;
}

.heading2 {
  color: black;
  text-align: center;
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.heading2 span {
  color: #ee4646;
}

#top-cards .card {
  border-radius: 2px;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#top-cards .card img {
  border-radius: 2px;
  border: 1px solid black;
  width: 100%;
  /* Image fills its container */
  height: auto;
  /* Maintain aspect ratio */
  display: block;
  /* Removes any extra space below images */
}

#top-cards .card:hover {
  transform: translateY(-10px);
}

.card .card-text {
  text-align: center;
  padding: 10px;
  text-decoration: underline;
}

.card .card-text h4 {
  font-weight: bold;
}

/* Media Queries for Top Cards Start */
@media (max-width: 992px) {
  .sub-content .card-text h4 {
    font-size: 1.3rem;
  }

  .heading2 {
    font-size: 2.2rem;
  }

  #top-cards {
    padding: 40px 0;
  }
}

@media (max-width: 768px) {
  .sub-content .card-text h4 {
    font-size: 1.2rem;
  }

  .heading2 {
    font-size: 2.2rem;
  }

  .card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .heading2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  #top-cards {
    padding: 20px 0;
  }

  #top-cards .card {
    margin-bottom: 15px;
  }

  .sub-content .card-text h4 {
    font-size: 1.8rem;
    margin: 2rem 0 2rem 0;
  }
}

/* Media Queries for Top Cards End */

/* Top Cards Section End */

/* Menu Section Start */
#menu-card {
  border: 0.3px solid black;
  margin-bottom: 20px;
}

#menu-card-body {
  border: 1px solid black;
}

.dried-strawberries-menu,
.fresh-strawberries-menu,
.candy-strawberries-menu {
  padding: 50px 10px 50px 10px;
  margin: 15px 0 15px 0;
}

.dried-strawberries-menu,
#dried-strawberries-accordion-header {
  background-color: #fff8e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.336);
}

.fresh-strawberries-menu,
#fresh-strawberries-accordion-header {
  background-color: #e1ffe1;
  box-shadow: 0 4px 8px rgba(42, 133, 0, 0.541);
}

.candy-strawberries-menu,
#candy-strawberries-accordion-header {
  background-color: #FFE1FF;
  box-shadow: 0 4px 8px rgba(56, 0, 102, 0.39)
}

.star i {
  color: red;
}

#menu h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
}

#menu p {
  font-size: 1.2rem;
  padding-top: 15px;
}

#menu p span {
  float: right;
  cursor: pointer;
}

#dried-strawberries-accordion-header,
#fresh-strawberries-accordion-header,
#candy-strawberries-accordion-header {
  text-align: center;
  color: black;
  font-weight: bold;
  border: 1.5px solid black;
}

/* Media Queries for Menu Start */
@media (max-width: 992px) {

  #menu h3,
  #dried-strawberries-accordion-header,
  #fresh-strawberries-accordion-header,
  #candy-strawberries-accordion-header {
    font-size: 2rem;
  }

  .star i {
    padding: 1.5rem 2px 1.5rem 2px;
    font-size: 1.4rem;
  }

  #menu p {
    text-align: center;
    font-size: 1.5rem;
  }

  #menu p span {
    padding: 2rem 0 0 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  #menu p {
    text-align: center;
    font-size: 1.4rem;
  }

  #menu p span {
    font-size: 2.3rem;
  }

  #menu h3,
  #dried-strawberries-accordion-header,
  #fresh-strawberries-accordion-header,
  #candy-strawberries-accordion-header {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .star i {
    padding: 1.5rem 2px 1.5rem 2px;
    font-size: 1.3rem;
  }

  #menu h3,
  #dried-strawberries-accordion-header,
  #fresh-strawberries-accordion-header,
  #candy-strawberries-accordion-header {
    font-size: 1.35rem;
  }

  #menu p {
    font-size: 1.3rem;
    text-align: center;
  }

  #menu p span {
    font-size: 2.2rem;
  }
}

/* Media Queries for Menu End */

/* Menu Section End */

/* Contact Us Start */
#contact {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

#contact .container {
  width: 100%;
  background: linear-gradient(90deg, white 80%, #ee4646 20%);
  border-radius: 5px;
  overflow: hidden;
}

#contact .row {
  margin: 0;
}

#contact .col-md-8,
#contact .col-md-4 {
  padding: 20px;
}

#contact p,
.contact-us-info {
  font-size: 1.2rem;
  padding-top: 15px;
  color: black;
  text-align: left;
  margin-bottom: 10px;
  line-height: 1.6;
}

#contact .form-control {
  margin-bottom: 20px;
  margin-top: 10px
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 1.5rem;
  border: none;
  border-bottom: 1px solid #ee4646;
  background-color: transparent;
  outline: none;
  font-size: 1.3rem;
}

#contact input:focus,
#contact textarea:focus {
  border-color: #ff0000;
}

#send-message-btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
  border: 1px solid black;
}

#send-message-btn:hover {
  background-color: #ee4646;
  color: white;
}

#contact h1 {
  color: white;
  font-size: 2.1rem;
  margin-top: 20px;
  margin-left: 0;
  text-align: center;
  padding-bottom: 10px;
}

#col {
  background: black;
  margin-top: 0;
  padding: 20px;
}

#contact #col p {
  color: white;
  margin-left: 0;
  margin-top: 15px;
  line-height: 1.5;
  text-align: center;
}

#contact-p {
  margin-bottom: 4rem;
}

/* Media Queries for Contact Us Start */
@media (max-width: 992px) {
  #contact .container {
    background: linear-gradient(90deg, white 70%, #ee4646 30%);
  }

  #contact p,
  .contact-us-info {
    text-align: center;
    font-size: 1.125rem;
  }

  #contact p span {
    padding: 2rem 0 0 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  #contact .col-md-8,
  #contact .col-md-4 {
    padding: 15px;
  }

  #contact h1 {
    font-size: 1.8rem;
  }

  #contact #col p {
    font-size: 1.1rem;
  }

  #contact input,
  #contact textarea {
    padding: 0.8rem;
    font-size: 1.32rem;
  }
}

@media (max-width: 768px) {
  #contact .container {
    background: linear-gradient(180deg, white 70%, #ee4646 30%);
    border-radius: 0;
  }

  #col {
    width: 100%;
    margin-top: 0;
    padding: 30px 15px;
  }

  #contact h1 {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
  }

  #contact #col p {
    font-size: 1.25rem;
    text-align: center;
  }

  #contact p,
  .contact-us-info {
    font-size: 1.25rem;
    text-align: center;
  }

  #contact input,
  #contact textarea {
    padding: 0.7rem;
    font-size: 1.25rem;
  }

  #send-message-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #contact .col-md-8,
  #contact .col-md-4 {
    width: 100%;
    padding: 15px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  #contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #contact .container {
    border-radius: 0;
    background-color: white;
  }

  #contact .col-md-8,
  #contact .col-md-4 {
    padding: 10px;
  }

  #contact h1 {
    font-size: 2.2rem;
  }

  #contact p,
  .contact-us-info {
    font-size: 1.25rem;
    text-align: center;
  }

  #contact #col p {
    font-size: 1.25rem;
  }

  #contact input,
  #contact textarea {
    padding: 0.6rem;
    font-size: 1.25rem;
  }

  #send-message-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Media Queries for Contact Us End */

/* Contact Us End */

/* Footer Start */
#footer {
  width: 100%;
  background: #99ffaf;
  margin-top: 50px;
}

#footer .social-links i {
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 30px;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}

.credits {
  color: black;
  margin-top: 20px;
}

.credits a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.credits a span {
  color: black;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.copyright span {
  color: black;
}

.copyright {
  padding-bottom: 20px;
}

/* Footer End */