* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content {
  background-color: #f7f5f2;
}

html ::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #ee4646;
  border-radius: 10px;
}

html::-webkit-scrollbar {
  width: 10px;
}

/* Navbar Start */
#navbar {
  background-color: #CCFF99;
}

/* Navbar Image Logo */
#logo img {
  border-radius: 10px;
  width: 280px;
  margin-left: 10px;
}

/* Hamburger Icon */

.navbar-toggler {
  margin-right: 2.5rem;
  filter: invert(1);
}

.navbar-nav {
  margin-left: 0;
}

.nav-item .nav-link {
  color: black;
  margin-left: 10px;
  font-weight: bold;
  transition: 0.5s;
  font-size: 20px;
}

.navbar .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Media Query for Hamburger Menu */
@media (max-width: 1200px) {
  #logo img {
    border-radius: 10px;
    width: 280px;
    margin-left: 20px;
  }

  .navbar-nav {
    margin-left: 0;
  }

  .navbar-collapse .navbar-nav {
    width: 100%;
  }

  .navbar-collapse .nav-item {
    margin: 2px;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .navbar-collapse .nav-item .nav-link {
    font-size: 26.3px;
    padding: 8px 5px;
    display: inline-block;
    border-radius: 5px;
    color: black;
  }

  .navbar-collapse .nav-item .nav-link:hover {
    background-color: #e0e0e0;
    color: black;
  }

  .container-fluid {
    padding: 0px;
  }
}

/* End of Media Query */

.nav-item .nav-link:hover {
  background-color: #f7f5f2;
  border-radius: 5px;
  color: black;
}

#navbar form button {
  background-color: black;
  color: #f7f5f2;
  border: 1px solid #f7f5f2;
}

.heart-trigger {
  padding: 5px;
}

/* Navbar End */

/* Home Section Start */
#home {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(./images/strawberry_background_art_12_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 28%;
}

#home .sub-content {
  padding-top: 210px;
  margin-left: 56px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#home .sub-content h3 {
  font-size: 90px;
  color: white;
}

#home .sub-content p {
  margin-top: 10px;
  color: white;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 10px;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
    0 0 5px rgba(0, 0, 0, 0.5);
}

/* Media Query for Home Start */
@media (max-width: 982px) {
  #home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }

  #home .sub-content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 0;
  }

  #home .sub-content h3 {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  #home .sub-content p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 766px) {
  #home .sub-content h3 {
    font-size: 51px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

/* Media Query for Home End */

#home-btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: white;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}

#home-btn:hover {
  background-color: #ee4646;
  color: white;
}

/* Home Section End */

/* About Section Start */
#about {
  width: 100%;
  height: 100vh;
}

#about .container {
  margin-top: 70px;
  padding-bottom: 25px;
  border: 1px solid black;
}

#about .card img {
  border-radius: 10px;
}

/* Media Queries for About Start */
@media (max-width: 982px) {

  #about p {
    font-size: 18px;
  }
}

@media (max-width: 766px) {
  #about {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 120vh;
    padding-top: 0;
  }

  #about p {
    font-size: 16px;
  }

  .about-subheading {
    margin-top: 25px;
  }
}

/* Media Queries for About End */

#about-btn {
  width: 300px;
  height: 50px;
  background: transparent;
  border: 2px solid #ee4646;
  border-radius: 5px;
  color: #ee4646;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

#about-btn:hover {
  background-color: #ee4646;
  color: white;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  color: black;
  font-size: 40px;
  font-weight: bolder;
}

.heading span {
  color: #ee4646;
}

/* About Section End */