* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content {
  background-color: #f7f5f2;
}

html ::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #2E8B57;
  border-radius: 10px;
}

html::-webkit-scrollbar {
  width: 10px;
}

/* Navbar Start */
#navbar {
  background-color: #CCFF99;
}

/* Navbar Image Logo */
#logo img {
  border-radius: 10px;
  width: 250px;
  margin-left: 10px;
}

/* Hamburger Icon */

.navbar-toggler {
  margin-right: 2.5rem;
  filter: invert(1);
}

.navbar-nav {
  margin-left: 0;
}

.nav-item .nav-link {
  color: black;
  margin-left: 12px;
  font-weight: bold;
  transition: 0.5s;
  font-size: 1.25rem;
}

#navbar .navbar-nav .nav-item .nav-link.active {
  color: black !important;
  text-decoration: underline;
  text-underline-offset: 10px;
  font-weight: 800;
  background-color: transparent;
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* Media Query for Hamburger Menu Start */
@media (max-width: 1200px) {
  #logo img {
    border-radius: 10px;
    max-width: 250px;
    width: 100%;
    margin-left: 20px;
  }

  .navbar-nav {
    margin-left: 0;
  }

  .navbar-collapse .navbar-nav {
    width: 100%;
  }

  .navbar-collapse .nav-item {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .navbar-collapse .nav-item .nav-link {
    font-size: 1.6rem;
    padding: 8px 5px;
    display: inline-block;
    border-radius: 5px;
    color: black;
  }

  .navbar-collapse .nav-item .nav-link:hover {
    background-color: #ffffff;
    color: black;
  }

  .container-fluid {
    padding: 0px;
  }
}

@media (max-width: 576px) {
  #logo img {
    border-radius: 10px;
    width: 220px;
    margin-left: 20px;
  }
}

/* Media Query for Hamburger Menu End */

.nav-item .nav-link:hover {
  background-color: #f7f5f2;
  border-radius: 5px;
  color: black;
}

.heart-trigger {
  padding: 5px;
}

/* Navbar End */

/* Home Section Start */
#home {
  width: 100%;
  min-height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(./images/strawberry_background_art_12_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 28%;
}

#home .sub-content {
  padding-top: 210px;
  margin-left: 56px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#home .sub-content h3 {
  font-size: 5.6rem;
  color: white;
}

#home .sub-content p {
  margin-top: 20px;
  color: white;
  font-size: 1.125rem;
  line-height: 1.6;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9),
    0 0 5px rgba(0, 0, 0, 0.5);
}

/* Media Query for Home Start */
@media (max-width: 992px) {
  #home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }

  #home .sub-content {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 0;
  }

  #home .sub-content h3 {
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 10px;
  }

  #home .sub-content p {
    font-size: 1.125rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  #home .sub-content h3 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  #home .sub-content h3 {
    font-size: 3rem;
  }
}

/* Media Query for Home End */

#home-btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
  border: 1px solid black;
}

#home-btn:hover {
  background-color: #ee4646;
  color: white;
}

/* Home Section End */

/* About Section Start */
#about {
  width: 100%;
}

#about .container {
  margin-top: 70px;
  padding-bottom: 25px;
  border: 1px solid black;
}

#about .card img {
  border-radius: 10px;
}

#about p {
  font-size: 1.2rem;
  padding-top: 1rem;
}

/* Media Queries for About Start */
@media (max-width: 992px) {
  #about p {
    font-size: 1.125rem;
  }
}

@media (max-width: 768px) {
  #about {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  #about p {
    font-size: 1.25rem;
  }

  .about-subheading {
    margin-top: 25px;
  }
}

@media (max-width: 576px) {
  #about {
    min-height: auto;
  }

  #about .container .heading {
    font-size: 2.2rem;
    margin-top: 30px;
  }
}

@media (max-width: 400px) {
  #about {
    min-height: auto;
  }
}

/* Media Queries for About End */

#about-btn {
  width: 100%;
  max-width: 300px;
  margin-top: 2em;
  height: 50px;
  background: transparent;
  border: 2px solid #ee4646;
  border-radius: 5px;
  color: #ee4646;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}

#about-btn:hover {
  background-color: #ee4646;
  color: white;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  color: black;
  font-size: 2.5rem;
  font-weight: bolder;
}

.heading span {
  color: #ee4646;
}

/* About Section End */

/* Top Cards Section Start */
#top-cards {
  width: 100%;
  background-color: #f7f5f2;
  padding: 9rem 0;
}

.heading2 {
  color: black;
  text-align: center;
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.heading2 span {
  color: #ee4646;
}

#top-cards .card {
  border-radius: 2px;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#top-cards .card img {
  border-radius: 2px;
  border: 1px solid black;
  width: 100%;
  /* Image fills its container */
  height: auto;
  /* Maintain aspect ratio */
  display: block;
  /* Removes any extra space below images */
}

#top-cards .card:hover {
  transform: translateY(-10px);
}

.card .card-text {
  text-align: center;
  padding: 10px;
  text-decoration: underline;
}

/* Media Queries for Top Cards Start */
@media (max-width: 992px) {
  .sub-content .card-text h4 {
    font-size: 1.8rem;
  }

  .heading2 {
    font-size: 2.2rem;
  }

  #top-cards {
    padding: 40px 0;
  }
}

@media (max-width: 768px) {
  .sub-content .card-text h4 {
    font-size: 2.2rem;
  }

  .heading2 {
    font-size: 2.2rem;
  }

  .card {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .heading2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  #top-cards {
    padding: 20px 0;
  }

  #top-cards .card {
    margin-bottom: 15px;
  }

  .sub-content .card-text h4 {
    font-size: 1.8rem;
    margin: 2rem 0 2rem 0;
  }
}

/* Media Queries for Top Cards End */

/* Top Cards Section End */

/* Menu Section Start */
#menu-card {
  border: 0.3px solid black;
}

#menu-card-body {
  border: 1px solid black;
}

.dried-strawberries-menu,
.fresh-strawberries-menu,
.candy-strawberries-menu {
  padding: 50px 10px 50px 10px;
  margin: 15px 0 15px 0;
}

.dried-strawberries-menu {
  background-color: #fff8e1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.336);
}

.fresh-strawberries-menu {
  background-color: #e1ffe1;
  box-shadow: 0 4px 8px rgba(42, 133, 0, 0.541);
}

.candy-strawberries-menu {
  background-color: #FFE1FF;
  box-shadow: 0 4px 8px rgba(56, 0, 102, 0.39)
}

.star i {
  color: red;
}

#menu h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
}

#menu p {
  font-size: 1.2rem;
  padding-top: 15px;
}

#menu p span {
  float: right;
  cursor: pointer;
}

/* Media Queries for Menu Start */
@media (max-width: 992px) {
  #menu h3 {
    font-size: 1.2rem;
  }

  #menu p {
    text-align: center;
  }

  #menu p span {
    padding: 2rem 0 0 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  #menu p {
    text-align: center;
  }

  #menu p span {
    padding: 2rem 0 0 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 2.2rem;
  }
}

@media (max-width: 576px) {
  .star i {
    padding: 1.5rem 2px 1.5rem 2px;
    font-size: 1.5rem;
  }

  #menu h3 {
    font-size: 2rem;
  }

  #menu p {
    font-size: 1.5rem;
    text-align: center;
  }

  #menu p span {
    padding: 2rem 0 0 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 2.5rem;
  }
}

/* Media Queries for Menu End */

/* Menu Section End */